In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('data_in_cluster.csv')

In [7]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5279 entries, 0 to 5278
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   author_name       5279 non-null   object
 1   affiliation       5279 non-null   object
 2   city              5279 non-null   object
 3   country           5279 non-null   object
 4   publication_date  5279 non-null   object
 5   title             5279 non-null   object
 6   latitude          5279 non-null   float64
 7   longitude         5279 non-null   float64
 8   cluster           5279 non-null   int64
dtypes: float64(2), int64(1), object(6)
memory usage: 371.3+ KB

          latitude    longitude      cluster
count  5279.000000  5279.000000  5279.000000
mean     33.830155    39.096994     2.088085
std      17.730533    81.482388     3.385491
min     -42.882509  -149.894852    -1.000000
25%      30.595105    -2.245115     0.000000
50%      37.461928    41.272771     2.000000
75%      42.437418   116.412144     2.000000
max      69.651635   175.611239    25.000000

In [31]:
df[df['cluster'] == 0]

,author_name,affiliation,city,country,publication_date,title,latitude,longitude,cluster
0,Niwiński A.,University of Warsaw,Warsaw,Poland,2017-12-31,The mystery of the 'high place' from the Abbot...,52.231958,21.006725,0
10,Elmounadi A.,Mohammed V University in Rabat,Rabat,Morocco,2017-12-31,Eclipse JDT-based method for dynamic analysis ...,34.022360,-6.834022,0
13,Lyashenko V.,Kharkiv National University of Radio Electronics,Kharkiv,Ukraine,2017-12-31,Study of composite materials for the engineeri...,49.992318,36.231015,0
18,Gorsse S.,Bordeaux INP,Talence,France,2017-12-31,Additive manufacturing of metals: a brief revi...,44.808844,-0.587963,0
19,Gorsse S.,Université de Bordeaux,Bordeaux,France,2017-12-31,Additive manufacturing of metals: a brief revi...,44.841225,-0.580036,0
...,...,...,...,...,...,...,...,...,...
5270,Levitin G.,Israel Electric Corporation Ltd.,Haifa,Israel,2017-12-01,1-out-of-N multi-state standby systems with st...,32.819122,34.998386,0
5273,Coppens P.,Leuvens Centrum voor Onderwijs van Ingenieurs ...,Leuven,Belgium,2017-12-01,Student understanding of first order RC filters,50.879202,4.701168,0
5274,Coppens P.,KU Leuven,Leuven,Belgium,2017-12-01,Student understanding of first order RC filters,50.879202,4.701168,0
5276,Zhang Q.,Université Toulouse III - Paul Sabatier,Toulouse,France,2017-12-01,Reverse engineering protocols for controlling ...,43.604462,1.444247,0
5278,Zhang Q.,CNRS Centre National de la Recherche Scientifique,Paris,France,2017-12-01,Reverse engineering protocols for controlling ...,48.858890,2.320041,0